body {
  font-family: 'Roboto', sans-serif;
  background: rgb(153, 84, 200);
  background: linear-gradient(
    90deg,
    rgba(153, 84, 200, 1) 0%,
    rgba(162, 146, 161, 1) 45%,
    rgba(166, 158, 158, 1) 55%,
    rgba(252, 176, 69, 1) 100%
  );
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
